<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <title>TCET Feedback</title>


    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<script>function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}</script>
	
<link type="text/css" rel="stylesheet" href="stylesheets/admin1.css"/>
</head>

<body>
<div id="printableArea">
<img src="extra/header.png" style="height:90px; width:690px;"/>   
<div id="left">
<p>TCET/FRM/MP-07/02</p>
<p>Date: 02/08/2014</p>

</div>
<div id="right">

<p>Revision A<br/>
Academic Year: 2014-2015</p>


</div>


<div id="heading">
<h2>Feedback Analysis of Technical Seminar</h2>
</div>
            <table border=1 cellspacing=0 cellpadding=2>

  <tr>
    <th rowspan="3">Sr.<br>No</th>
    <th>Class</th>
    <th>S.E<br>CMPN-A<br></th>
    <th>S.E <br>CMPN-B<br></th>
    <th>T.E <br>CMPN-A</th>
    <th>T.E<br>CMPN-B<br></th>
    <th>B.E <br>CMPN-A<br></th>
    <th>B.E <br>CMPN-B<br></th>
  </tr>

  <tr>
	
    <td><b>Speaker</b><br><b>Name/ Designation</b><br></td>
    <td colspan="2"><b>&nbsp;Mr. XYZ</b><br>&nbsp;<b>(Senior Programmer)</b><br></td>
    <td colspan="2"><b>&nbsp;Mr. PQR</b><br>&nbsp;<b>(Application Developer)</b><br></td>
    <td colspan="2"><b>&nbsp;Mr. JTG</b><br>&nbsp;<b>(IT Analyst)</b><br></td>
  </tr>
  <tr>

    <td><b>Company in<br>speaker is working</b><br></td>
    <td colspan="2"><b>&nbsp;XYZ</b> <br><b>XYZ</b></td>
    <td colspan="2"><b>&nbsp;PQR</b></td>
    <td colspan="2"><b>&nbsp;NMN</b></td>
  </tr>
  <tr>
    <td>1</td>
    <td>Ability to <br>explain &amp; clarity of concept<br></td>
    <td>{{p.q1sea}}</td>
    <td>{{p.q1seb}}</td>
    <td>{{p.q1tea}}</td>
    <td>{{p.q1teb}}</td>
    <td>{{p.q1bea}}</td>
    <td>{{p.q1beb}}</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Ability to hold attention</td>
    <td>{{p.q2sea}}</td>
    <td>{{p.q2seb}}</td>
    <td>{{p.q2tea}}</td>
    <td>{{p.q2teb}}</td>
    <td>{{p.q2bea}}</td>
    <td>{{p.q2beb}}</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Rapport with students</td>
    <td>{{p.q3sea}}</td>
    <td>{{p.q3seb}}</td>
    <td>{{p.q3tea}}</td>
    <td>{{p.q3teb}}</td>
    <td>{{p.q3bea}}</td>
    <td>{{p.q3beb}}</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Course content delivered</td>
    <td>{{p.q4sea}}</td>
    <td>{{p.q4seb}}</td>
    <td>{{p.q4tea}}</td>
    <td>{{p.q4teb}}</td>
    <td>{{p.q4bea}}</td>
    <td>{{p.q4beb}}</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Course material(if received)</td>
    <td>{{p.q5sea}}</td>
    <td>{{p.q5seb}}</td>
    <td>{{p.q5tea}}</td>
    <td>{{p.q5teb}}</td>
    <td>{{p.q5bea}}</td>
    <td>{{p.q5beb}}</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Time management</td>
    <td>{{p.q6sea}}</td>
    <td>{{p.q6seb}}</td>
    <td>{{p.q6tea}}</td>
    <td>{{p.q6teb}}</td>
    <td>{{p.q6bea}}</td>
    <td>{{p.q6beb}}</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Communication skill</td>
    <td>{{p.q7sea}}</td>
    <td>{{p.q7seb}}</td>
    <td>{{p.q7tea}}</td>
    <td>{{p.q7teb}}</td>
    <td>{{p.q7bea}}</td>
    <td>{{p.q7beb}}</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Use of multimedia</td>
    <td>{{p.q8sea}}</td>
    <td>{{p.q8seb}}</td>
    <td>{{p.q8tea}}</td>
    <td>{{p.q8teb}}</td>
    <td>{{p.q8bea}}</td>
    <td>{{p.q8beb}}</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Knowledge gained</td>
    <td>{{p.q9sea}}</td>
    <td>{{p.q9seb}}</td>
    <td>{{p.q9tea}}</td>
    <td>{{p.q9teb}}</td>
    <td>{{p.q9bea}}</td>
    <td>{{p.q9beb}}</td>
  </tr>
  <tr>
	
    <td colspan=2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>Total</b></td>
    <td>{{p.sea}}</td>
    <td>{{p.seb}}</td>
    <td>{{p.tea}}</td>
    <td>{{p.teb}}</td>
    <td>{{p.bea}}</td>
    <td>{{p.beb}}</td>
  </tr>
  <tr>
	
    <td colspan=2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>Average percentage</b><br></td>
    <td><b>{{p.psea}} %</b></td>
    <td><b>{{p.pseb}} %</b></td>
    <td><b>{{p.ptea}} %</b></td>
    <td><b>{{p.pteb}} %</b></td>
    <td><b>{{p.pbea}} %</b></td>
    <td><b>{{p.pbeb}} %</b></td>
  </tr>
</table>
		<br/><br/><br/><br/>
	<div id="bottom">
    Dr. Rekha Sharma<br/>
    HOD CMPN
    </div>
	</div><input type="button" onclick="printDiv('printableArea')" value="PRINT" />		


      
   

</body>

</html>
